@import "../04-objects/navigation";

.top-navigation {
  top: 0px;
  position: fixed;
  @include navigation_bar;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
}


@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    cursor: default;
  }
  .cursor {
    opacity: 0;
  }
  nav ul li a {
    cursor: default;
  }
  .nav-links {
    display: none;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: $text-color;
    color: $gradient-color2;
    font-size: $main-font-size*3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: -10;

  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);

  }
}





