@mixin navigation_bar {
  @include main-padding;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: $nav-bar-height;
  font-family: $main-font-family;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

