@import "../00-settings/fonts";

body {
  background-color: $background-color;
  height: 100vh;
  @include font-setting;
  font-family: $main-font-family;
  font-size: $main-font-size;
  font-style: italic;
  font-weight: 100;

  margin-bottom: 50px;
  margin-top: 80px;
}

